<div class="title">Recipe App</div>
<nav class="navigation">
  <div class="card-container">
    <div class="card" routerLink="/add-recipe">
      <i class="bi bi-plus-circle"></i>
      <span>Add Recipe</span>
    </div>
    <div class="card" routerLink="/recipes">
      <i class="bi bi-book"></i>
      <span>Recipes</span>
    </div>
    <div class="card" routerLink="/subscribe">
      <i class="bi bi-person-plus"></i>
      <span>Subscribe</span>
    </div>
    <div class="card" routerLink="/posts">
      <i class="bi bi-chat"></i>
      <span>Posts</span>
    </div>
    <div class="card" routerLink="/favorite">
      <i class="bi bi-heart"></i>
      <span>Favorite Recipes</span>
    </div>
  </div>
</nav>
